<div class="comment-container">
  <div class="comment-header"></div>
  <div class="comment">
    <div class="comment-date">
      <p>
        {{! not rendering }}
        u/{{user.username}}
        on
        {{formatDate created_at}}
      </p>
    </div>
    <p class="comment-body">
      {{content}}
    </p>
  </div>
</div>