<div class="w-7/12 pb-2 mx-auto comment-container md:w-8/12 bg-slate-300 rounded-xl">
  <div class="comment-header"></div>
  <div class="mx-4 comment">
    <div class="comment-date">
      <p>
        {{! not rendering }}
        {{user.username}}
        on
        {{formatDate created_at}}
      </p>
    </div>
    <p class="comment-body">
      {{content}}
    </p>
  </div>
</div>