<div class="comment-container w-7/12 md:w-8/12 mx-auto bg-slate-300 rounded-xl pb-2">
  <div class="comment-header"></div>
  <div class="comment mx-4">
    <div class="comment-date">
      <p>
        {{! not rendering }}
        u/{{user.username}}
        on
        {{formatDate created_at}}
      </p>
    </div>
    <p class="comment-body">
      {{content}}
    </p>
  </div>
</div>