<div class="card-container">
  <div class="card-header">
    <h4><a href="/movie/{{id}}" class="post-header">{{title}}</a></h4>
  </div>
  <div>{{summary}}</div>
  <img
    src="https://image.tmdb.org/t/p/original/{{poster}}"
    alt="movie_poster"
  />
</div>