
<div class="mt-4">
    <h2 class="text-center"style="font-size: 2rem"><a href="/movie/{{id}}">{{title}}</a></h2>

  <img src="https://image.tmdb.org/t/p/original/{{poster}}" alt="movie_poster" />
  <div class="text-2xl text-center">{{summary}}</div>

</div>