
<div class=" group mt-0 bg-slate-300 hover:border-white hover:border-4 transition-colors duration-200 rounded-xl px-3 md:w-11/12 mx-auto w-5/6 drop-shadow-lg">

    <h2 class="text-center text-slate-800">

      <a class="font-bold text-3xl group-hover:text-white" 
      href="/movie/{{id}}">{{title}}</a></h2>

      <img class="rounded-lg" 
      src="https://image.tmdb.org/t/p/original/{{poster}}" alt="movie_poster" />
  <div class="text-2xl text-center">{{summary}}</div>

</div>