<div class="navbar mb-2 shadow-lg bg-slate-800 text-neutral-content text-white text-lg">
  <div class="flex-1 px-2 mx-2">
    <span class="text-lg font-bold">
      <a href="/">Movie Forum</a>
    </span>
  </div>
  <a
    class="btn btn-ghost btn-sm rounded-btn text-xl font-bold text-white lg:text-base"
    href="/dashboard"
  >Dashboard</a>
  {{#if loggedIn}}
    <a
      class="btn btn-ghost btn-sm rounded-btn text-xl font-bold text-white lg:text-base"
      href="/"
      id="logout"
    >Logout</a>
  {{else}}
    <a
      class="btn btn-ghost btn-sm rounded-btn text-xl font-bold text-white lg:text-base"
      href="/login"
    >Login</a>
    <a
      class="btn btn-ghost btn-sm rounded-btn text-xl font-bold text-white lg:text-base"
      href="/register"
    >Sign Up</a>
  {{/if}}
</div>