<div class="h-screen pb-3 bg-gradient-to-t from-slate-400 to-slate-800">
  <div class="relative top-5">
    <h1
      class="my-4 text-4xl font-bold text-center text-slate-300 md:text-4xl lg:text-5xl xl:text-5xl 2xl:text-6xl drop-shadow-xl">
      Your Dashboard</h1>
  </div>
  {{#if posts.length}}
  <section
    class="grid grid-cols-1 my-0 mt-5 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-4 w-12/12 drop-shadow-lg h-4/12 gap-y-2 gap-x-0">
    {{#each posts as |post|}}
    {{> dashboard-postedit post}}
    {{/each}}
  </section>
  <div class="flex justify-end mt-auto mr-3">
  </div>
  {{/if}}
</div>