<div class="h-screen sm:h-screen md:h-screen lg:h-screen xl:h-screen bg-gradient-to-t from-slate-400 to-slate-800">

    <div class="relative top-5">
        <h1
            class="text-center text-slate-300 text-4xl md:text-4xl lg:text-5xl xl:text-5xl 2xl:text-6xl font-bold drop-shadow-xl">
            Your Dashboard</h1>
    </div>

  {{#if posts.length}}

<section class="
grid 
grid-cols-1 
sm:grid-cols-2
md:grid-cols-3
lg:grid-cols-3
xl:grid-cols-4
my-0 
w-12/12 
drop-shadow-lg 
h-4/12  
gap-y-2 
gap-x-0 
mt-5
">
  {{#each posts as |post|}}

    {{> dashboard-postedit post}}

  {{/each}}


</section>

<div class="flex justify-end mt-auto mr-3">


</div>

{{/if}}

</div>