<div class="h-screen bg-gradient-to-t from-slate-400 to-slate-800">

  <div class="flex relative dashboard-container px-4 h-14">

    <div class="absolute inset-0 flex items-center justify-center text-white font-extrabold"><h2>Your Dashboard</h2>
    </div>

  </div>

  {{#if posts.length}}

<section class="
grid 
grid-cols-2 
my-0 
w-12/12 
drop-shadow-lg 
h-4/12  
gap-y-2 
gap-x-0 
">
  {{#each posts as |post|}}

    {{> dashboard-postedit post}}

  {{/each}}


</section>

<div class="flex justify-end mt-auto mr-3">


</div>

{{/if}}

</div>