{{!-- <h1 class="text-center title">{{movie.title}}</h1>

{{#each forum-cards as |forum-card|}}
    <div class="forum-post card w-96 shadow-xl p-20 bg-indigo-800 hover:bg-indigo-500">
        {{#if image}}
        <figure><img src="image-source"/></figure>
        {{/if}}
        <div class="card-body">
            <h2 class="card-title">{{post.title}}</h2>
            <p>
                {{post.content}}
            </p>
        </div>
    </div> --}}
<h1>/movies</h1>