<div class="homepage_bg">

  <h1 class="text-center title">{{movie.title}}</h1>

  <div>
    
    {{#each movie.posts as |post|}}

    <div>
      {{#each movie.posts as |post|}}      
      {{> post-card post}}      
      {{/each}}
    </div>


  </div>



