{{!-- <h1 class="text-center title">{{movie.title}}</h1> --}}
<h1 class="text-center title">Movie Title</h1>

{{!-- {{#each post-card as |post-cards|}} --}}
    <div class="forum-post card w-96 shadow-xl p-20 bg-indigo-800 hover:bg-indigo-500">
        {{!-- {{#if image}} --}}
        <figure><img src="image-source"/></figure>
        {{!-- {{/if}} --}}
        <div class="card-body">
            <h2 class="card-title">Post Title</h2>
            {{!-- <h2 class="card-title">{{post.title}}</h2> --}}
            <p>
                {{!-- {{post.content}} --}}
                Words for the post
            </p>
        </div>
    </div>
