<div class="object-contain h-screen p-4 overflow-y-scroll bg-no-repeat bg-cover"
  style="background-image: url('https://image.tmdb.org/t/p/original{{movie.backdrop_path}}')">
  <div class="grid gap-4 md:grid-cols-2 drop-shadow-lg">
    {{>forum-card movie}}
    {{#if movie.posts}}
    {{#each movie.posts as |post|}}
    {{>post-card post}}
    {{/each}}
    {{/if}}
  </div>
</div>