
<div class="h-screen sm:h-screen md:h-screen lg:h-screen xl:h-screen 2xl:h-screen bg-gradient-to-t from-slate-400 to-slate-900 flex items-center justify-center">
  <div class="bg-slate-900 rounded-3xl drop-shadow-5xl sm:w-8/12 md:w-8/12 xl:w-6/12 lg:w-7/12 w-8/12 sm:px-12 px-4 py-3 sm:py-4 -mt-24">
    <div class="mb-4">
      <h2 class="text-4xl text-white text-center text-3xl font-bold">Login</h2>
    </div>
    <form id="login-form">
      <div id="login-alert"></div>
      <div class="space-y-4">
        <div>
          <p class="text-white text-2xl">Email</p>
          <input type="text" placeholder="email" id="email" class="w-full p-2 rounded border-gray-800 border-solid bg-white">
          <div class="text-red-500">Please enter an email address.</div>
        </div>
        <div>
          <p class="text-white text-2xl">Password</p>
          <input type="password" placeholder="password" id="password" class="w-full p-2 rounded border-gray-800 border-solid bg-white">
          <div class="text-red-500">Please enter a password.</div>
        </div>
        <div class="flex justify-center">
          <button type="submit" class="btn btn-secondary btn-sm sm:w-3/12 md:w-3/12 lg:w-3/12 2xl:w-1/6 w-4/12 bg-slate-400 border-slate-600 text-center p-1 rounded-2xl">Submit</button>
        </div>
        <p class="text-white text-center p-2">Don't have an account? <a href="/register" class="text-indigo-500">Register here.</a></p>
      </div>
    </form>
  </div>
</div>


<script src="js/login.js"></script>