<div class="container mx-auto p-6 card w-6/12 lg:w-8/12">
  <div class="card-title text-2xl text-center">Register</div>
  <form  id="registration-form">
  <div class="form-control border-none">
    <p>Username</p>
    <input type="text" placeholder="username" id="username" class="input p-2 rounded border-gray-800 border-solid bg-white">
    <div class="invalid-feedback">Please enter a valid username.</div>
    <p>Email</p>
    <input type="text" placeholder="email" id="email" class="input p-2 rounded border-gray-800 border-solid bg-white">
    <div class="invalid-feedback">Please enter a e-mail address.</div>
    <p>Password</p>
    <input type="password" placeholder="password" id="password" class="input p-2 rounded border-gray-800 border-solid bg-white">
    <div class="invalid-feedback">Please enter a valid password.</div>
    <button type="submit" class="btn btn-secondary btn-lg w-100 mt-4 p-6 bg-indigo-500 opacity-100">
      Submit
    </button>
    <p class="text-center p-2">Already have an account? <a href="/login">Login here.</a></p>
    </form>
    </div>
</div>

<script src="js/register.js"></script>