@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #eeeeee;
}
<<<<<<< HEAD

h1, h2 {
  font-family: 'Carter One', Courier, monospace ;
}

=======
>>>>>>> 3076ce46a5ce13a2cef71a406cd0a4acc12ec7e8
.logo-sm {
  width: 50px;
  height: 50px;
}

.nav-btn {
  background: none !important;
  border: none;
  cursor: pointer;
}

<<<<<<< HEAD
=======
h1 {
  font-family: "Acme", sans-serif;
}
>>>>>>> 3076ce46a5ce13a2cef71a406cd0a4acc12ec7e8

.homepage_bg {
  background-image: url("/images/cement-texture.avif");
  background-repeat: no-repeat;
  background-size: cover;
}
